<!DOCTYPE html>
<html>

<head>
    <title>ubicajeros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #map {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js.map"></script>
</head>

<body>
    <div id="map"></div>
    <script>
        ESTADO = 'DISTRITO FEDERAL';

        function agregarMarcador(item, index) {
            mapa.addMarker({
                lat: item.lat,
                lng: item.lon,
                title: item.id,
                infoWindow: {
                    content: 'Bank: ' + item.org_name + '</br>Address: ' + item.address + '</br>ZIP Code: ' + item.zip_code + '</br>Open Hours: ' + item.open_hours
                }
            });
        }

        function geolocalizarCentrarMapa(mapa) {
            GMaps.geolocate({
                success: function(position) {
                    mapa.setCenter(position.coords.latitude, position.coords.longitude);
                    mapa.setZoom(18);
                },
                error: function(error) {
                    alert('Could not get your current location: ' + error.message);
                }
            });
        }

        $(function() {
            mapa = new GMaps({
                div: '#map',
                lat: 19.42705,
                lng: -99.127571,
                zoom: 10
            });

            if (!localStorage.getItem('cajeros_' + ESTADO)) {
                $.getJSON('{{ api_url }}/cajeros?state=' + ESTADO, function(data) {
                    localStorage.setItem('cajeros_' + ESTADO, JSON.stringify(data));
                    data.cajeros.forEach(agregarMarcador);
                    geolocalizarCentrarMapa(mapa);
                })
            } else {
                results = JSON.parse(localStorage.getItem('cajeros_' + ESTADO));
                results.cajeros.forEach(agregarMarcador);
                geolocalizarCentrarMapa(mapa);
            }
        })
    </script>
</body>

</html>
